#i{
    display:inline-block;margin-right:10px
}
h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: #c9c3c3ec;
    font-weight: 600;
    margin-bottom: 30px;
}
h1 {
    font-size: 45px;
    text-transform: uppercase;
    color: #110809e0;
    font-weight: 600;
    margin-bottom: 30px;
}
#w{
    font-size: 45px;
    text-transform: uppercase;
    color: #110809e0;
    font-weight: 600;
    margin-bottom: 30px;
}
#searchover{
    font-size: 40px;
    text-transform: uppercase;
    color: #c9c3c3ec;
    font-weight: 600;
    margin-bottom: 30px;
}