.wrap {
    width: 100%;
    overflow:auo;
    }
    
    .fleft {
        float:left; 
        width: 10%;
 background-color: rgb(46, 145, 179);
        height: 4000px;
    }
    
    .fright {
    float: left;
        background:rgb(219, 104, 69);
        height: 4000px;
        width: 80%;
    }
    .fright1 {
        float: right;
            background:rgb(138, 25, 25);
            height: 4000px;
            width: 10%;
        }
    